<!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
		
		
		

		<!--welcome-hero start -->
		<section id="home" class="welcome-hero">
			<div class="container">
				<div class="welcome-hero-txt">
					<h2><%= Information.first.text1 %></h2>
					<p><%= Information.first.text2 %></p>
				</div>
			</div>

		</section><!--/.welcome-hero-->
		<!--welcome-hero end -->

		<!--list-topics start -->
		<section id="list-topics" class="list-topics">
			<div class="container">
				<center>
				<div class="list-topics-content">
					<ul>
						<li>
							<div class="single-list-topics-content">
								<div class="single-list-topics-icon">
									<i class="fa-solid fa-shop" style="font-size: 200%; color: black;"></i>
								</div>
								<h2>
									<li class="scroll"><a href="#explore" style="text-decoration: none; color: black;">Taller</a></li>
								</h2>
								<p>Armado de simuladores</p>
							</div>
						</li>
						<li>
							<div class="single-list-topics-content">
								<div class="single-list-topics-icon">
									<i class="fa-solid fa-shop" style="font-size: 200%; color: black;"></i>
								</div>
								<h2>
									<li class="scroll"><a href="#explore" style="text-decoration: none; color: black;">Envíos</a></li>
								</h2>
								<p>A todo el país</p>
							</div>
						</li>
						<li>
							<div class="single-list-topics-content">
								<div class="single-list-topics-icon">
									<i class="fa-solid fa-shop" style="font-size: 200%; color: black;"></i>
								</div>
								<h2>
									<li class="scroll"><a href="#explore" style="text-decoration: none; color: black;">Impresión 3D</a></li>
								</h2>
								<p>Trabajo personalizado</p>
							</div>
						</li>
						<li>
							<div class="single-list-topics-content">
								<div class="single-list-topics-icon">
									<i class="fa-solid fa-shop" style="font-size: 200%; color: black;"></i>
								</div>
								<h2>
									<li class="scroll"><a href="#explore" style="text-decoration: none; color: black;">Soporte</a></li>
								</h2>
								<p>Excelencia de servicio</p>
							</div>
						</li>
					</ul>
				</div>
				</center>
			</div><!--/.container-->

		</section><!--/.list-topics-->
		<!--list-topics end-->

		<!--works start -->
		<section id="works" class="works">
			<div class="container">
				<div class="section-header">
					<h2>¿Cómo funciona?</h2>
					<p><%= Information.first.text3 %></p>
				</div><!--/.section-header-->
				<div class="works-content">
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="single-how-works">
								<div class="single-how-works-icon">
									<i class="flaticon-lightbulb-idea"></i>
								</div>
								<h2><a>Diseñamos el equipo</a></h2>
								<p>
									<%= Information.first.text4 %> 
								</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="single-how-works">
								<div class="single-how-works-icon">
									<i class="flaticon-networking"></i>
								</div>
								<h2><a>Nos adaptamos a tus requerimientos</a></h2>
								<p>
									<%= Information.first.text5 %>
								</p>
								
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="single-how-works">
								<div class="single-how-works-icon">
									<i class="flaticon-location-on-road"></i>
								</div>
								<h2><a>Envíos a todo el país</a></h2>
								<p>
									<%= Information.first.text6 %>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div><!--/.container-->
		
		</section><!--/.works-->
		<!--works end -->

		<!--explore start -->
		<section id="explore" class="explore">
			<div class="container">
				<div class="section-header">
					<h2>Productos</h2>
					<p><%= Information.first.text7 %></p>
				</div><!--/.section-header-->
				<div class="explore-content">
					<div class="row">


						<div class="container">
							<!-- Nav tabs -->
							
								<ul class="nav nav-tabs" role="tablist" style="display: table; margin: 0 auto;">
									<% Category.all.each_with_index do |category, index| %>
										<% if !category.products.empty? %>
											<li role="presentation" class="<%= 'active' if index == 0 %>">
												<a href="#cat-<%= category.id %>" aria-controls="cat-<%= category.id %>" role="tab" data-toggle="tab">
												<h4><%= category.name %></h4>
												</a>
											</li>
										<% end %>
									<% end %>
								</ul>
							
							<br>
							<!-- Tab panes -->
							<div class="tab-content">
								<% Category.all.each_with_index do |category, index| %>
								<div role="tabpanel" class="tab-pane fade <%= 'in active' if index == 0 %>" id="cat-<%= category.id %>">
									<div class="row equal-height">
									<% category.products.each do |product| %>

										<div class=" col-md-4 col-sm-6">
										<div class="single-explore-item">
											<div class="single-explore-img">
												<div id="product-carousel-<%= product.id %>" class="carousel slide single-explore-img" data-ride="carousel">
						

													<!-- Wrapper for slides -->
													<div class="carousel-inner">
														<% product.images.each_with_index do |image, index| %>
														<div class="item <%= 'active' if index == 0 %>">
															<%= link_to url_for(image), class: "glightbox", data: { gallery: "product-#{product.id}" } do %>
																<%= image_tag image, alt: "Product Image", class: "img-responsive" %>
															<% end %>
														</div>
														<% end %>
													</div>

													<% if product.images.count > 1 %>
														<!-- Controls -->
														<a class="left carousel-control" href="#product-carousel-<%= product.id %>" data-slide="prev">
															<span class="fa-solid fa-arrow-left"></span>
														</a>
														<a class="right carousel-control" href="#product-carousel-<%= product.id %>" data-slide="next">
															<span class="fa-solid fa-arrow-right"></span>
														</a>
													<% end %>
												</div>
											</div>
											<div class="single-explore-txt bg-theme-1">
												<h2><%= product.name %></h2>
												
												<div class="explore-person">
													<div class="row">
														
														<div class="col-sm-12">
															<p>
																<%= product.description %> 
															</p>
															Bs. <%= product.price %>
														</div>
													</div>
												</div>
												<div class="explore-open-close-part">
													<div class="row">
														<div class="col-sm-5">
															<% if @cart.includes_product?(product) %>
																<%= button_to "Agregado al carrito", cart_path, method: :get, class: "btn btn-success" %>
															<% else %>
																<%= button_to "Agregar a carrito", add_item_cart_path(product_id: product.id), method: :post, class: "btn btn-default" %>
															<% end %>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>	







										
									<% end %>
									</div>
								</div>
								<% end %>
							</div>
						</div>

				

						
					
					
					</div>
				</div>
			</div><!--/.container-->

		</section><!--/.explore-->
		<!--explore end -->


		<!-- statistics strat -->
		<section id="statistics"  class="statistics">
			<div class="container">
				<div class="statistics-counter"> 
					<div class="col-md-3 col-sm-6">
						<div class="single-ststistics-box">
							<div class="statistics-content">
								<div class="counter">30 </div> <span>+</span>
							</div><!--/.statistics-content-->
							<h3>clientes satisfechos</h3>
						</div><!--/.single-ststistics-box-->
					</div><!--/.col-->
					<div class="col-md-3 col-sm-6">
						<div class="single-ststistics-box">
							<div class="statistics-content">
								<div class="counter">3</div> <span>+</span>
							</div><!--/.statistics-content-->
							<h3>años de experiencia</h3>
						</div><!--/.single-ststistics-box-->
					</div><!--/.col-->
					<div class="col-md-3 col-sm-6">
						<div class="single-ststistics-box">
							<div class="statistics-content">
								<div class="counter">300</div> <span>+</span>
							</div><!--/.statistics-content-->
							<h3>partes fabricadas a medida</h3>
						</div><!--/.single-ststistics-box-->
					</div><!--/.col-->
					<div class="col-md-3 col-sm-6">
						<div class="single-ststistics-box">
							<div class="statistics-content">
								<div class="counter">50</div> <span>+</span>
							</div><!--/.statistics-content-->
							<h3>pilotos entrenados</h3>
						</div><!--/.single-ststistics-box-->
					</div><!--/.col-->
				</div><!--/.statistics-counter-->	
			</div><!--/.container-->

		</section><!--/.counter-->	
		<!-- statistics end -->

		<!--blog start -->
		<section id="blog" class="blog" >
			<div class="container">
				<div class="section-header">
					<h2>Reseñas de algunos de nuestros clientes</h2>
				</div><!--/.section-header-->
				<div class="blog-content">
					<div class="row">
						<% @reviews.each do |review| %>
							<div class="col-md-4 col-sm-6">
								<div class="single-blog-item">
									<div class="single-blog-item-img">
										
									</div>
									<div class="single-blog-item-txt">
										<div class="row">
											<div class="col-lg-1">
												<i class="fa-solid fa-user"></i>
											</div>
											<div class="col-lg-8">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
										</div>
										
										
										
										<p>
											<%= review.description %>
										</p>
										<h4>Por <%= review.name %></h4>
										
									</div>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			</div><!--/.container-->
			
		</section><!--/.blog-->
		<!--blog end -->

		<!--subscription strat -->
		<section id="contact"  class="subscription">
			<div class="container">
				<div class="subscribe-title text-center">
					<h2>
						¿Tienes dudas? Envíanos un mensaje a WhatsApp y nos comunicaremos inmediatamente.
					</h2>
					
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="subscription-input-group">
							<form action="#">
								<input type="text" id="whatsapp-message" class="subscription-input-form" placeholder="Envíanos tu mensaje">

								<button class="appsLand-btn subscribe-btn" onclick="sendWhatsAppMessage()">
								<i class="fab fa-whatsapp"></i> Enviar mensaje
								</button>
							</form>
						</div>
					</div>	
				</div>
			</div>

		</section><!--/subscription-->	
		<!--subscription end -->


<script>
function sendWhatsAppMessage() {
	var message = document.getElementById('whatsapp-message').value;
	var phone = "591"+<%= Information.first.whatsapp_number %>;
	var url = "https://wa.me/" + phone + "?text=Hola, OCWAviationSIMS. " + encodeURIComponent(message);

	window.open(url, "_blank");
}

document.addEventListener("DOMContentLoaded", function () {
    const lightbox = GLightbox({
      selector: '.glightbox'
    });
  });

  
  $(function() {
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      var $target = $($(e.target).attr("href"));
      $('.tab-pane').not($target).hide();
      $target.fadeIn(300);
    });
  });

</script>

		