<div id="<%= dom_id information %>">
  <p>
    <strong>Text1:</strong>
    <%= information.text1 %>
  </p>

  <p>
    <strong>Text2:</strong>
    <%= information.text2 %>
  </p>

  <p>
    <strong>Text3:</strong>
    <%= information.text3 %>
  </p>

  <p>
    <strong>Text4:</strong>
    <%= information.text4 %>
  </p>

  <p>
    <strong>Text5:</strong>
    <%= information.text5 %>
  </p>

  <p>
    <strong>Text6:</strong>
    <%= information.text6 %>
  </p>

  <p>
    <strong>Text7:</strong>
    <%= information.text7 %>
  </p>

  <p>
    <strong>Whatsapp number:</strong>
    <%= information.whatsapp_number %>
  </p>

  <p>
    <strong>Facebook link:</strong>
    <%= information.facebook_link %>
  </p>

</div>
