<div class="container">
  <div class="row">
    <div class="col-lg-7">
      <h3>Carrito de compras</h3>
    <% if @items.any? %>
      <div class="table-responsive">
        <table class="table table-striped">
          <tr>
            <th>Producto</th>
            <th>Precio unitario</th>
            <th>Cantidad</th>
            
            <th>Total</th>
          </tr>
          
            <% @items.each do |item| %>
            <tr>
              <td>
                <%= item.product.name %>
              </td>  
              <td>
                Bs. <%= item.product.price %>
              </td>
              <td>
                <div class="btn-group btn-group-xs" role="group">
                  <span class="btn btn-default disabled"><%= item.quantity %></span>&nbsp;
                  <%= button_to "+", increment_item_cart_path(@cart, id: item.id), method: :post, class: "btn btn-success", form: { class: "inline-form" } %>
                  <%= button_to "-", decrement_item_cart_path(@cart, id: item.id), method: :post, class: "btn btn-danger", form: { class: "inline-form" } %>
                
                </div>
              </td>
              <td>
                Bs. <%= item.quantity * item.product.price %>
              </td>
            </tr>
            <% end %>
            <tr>
              <td colspan="3" class="text-center"><b>PRECIO FINAL</b></td>
              <td><b>Bs. <%= @cart.total_price %></b></td>
            </tr>
        </table>
      </div>
    </div>
    <div class="col-lg-5">

      <div class="panel panel-default">
        <div class="panel-heading">
          <b>INFORMACIÓN</b>
        </div>
        <div class="panel-body">
          El carrito de compras le permite agregar productos para enviarlos por un mensaje de WhatsApp al equipo de ventas de OCWAviationSIMS. Los pagos y detalles de envío se coordinan directamente por WhatsApp.
        </div>
      </div>

      <%= link_to "https://wa.me/59177498233?text=#{ERB::Util.url_encode(@items_string)}", target: "_blank", class: "cart-confirmation-btn" do %>
        <i class="fab fa-whatsapp"></i> Confirmar pedido por WhatsApp
      <% end %>
      &nbsp;
      <%= link_to delete_current_cart_path, method: :get, class: "cart-cancellation-btn" do %>
        <i class="fa-solid fa-trash"></i> Limpiar carrito
      <% end %>
      
    </div>
    <% else %>
      <p>Tu carrito está vacío. Encuentra nuestros productos <%= link_to "aquí", "/#works", data: { turbo: false } %>.</p>
    <% end %><br>

    
  </div>
</div>

