<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Ocw Aviation" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- top-area Start -->
    <section class="top-area">
      <div class="header-area">
        <!-- Start Navigation -->
          <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy"  data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

              <div class="container">

                  <!-- Start Header Navigation -->
                  <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                          <i class="fa fa-bars"></i>
                      </button>
                      <a class="navbar-brand" href="/" data-turbo="false">OCWAVIATION</a>


                  </div><!--/.navbar-header-->
                  <!-- End Header Navigation -->

                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                      <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                        <% if current_page?(cart_path) %>
                          <li><%= link_to "Inicio", "/", data: { turbo: false } %></li>
                          <li><%= link_to "¿Cómo funciona?", "/#works", data: { turbo: false } %></li>
                          <li><%= link_to "PRODUCTOS", "/#explore", data: { turbo: false } %></li>
                          <li><%= link_to "Reseñas", "/#blog", data: { turbo: false } %></li>
                          <li><%= link_to "Contacto", "/#contact", data: { turbo: false } %></li>
                          <li><%= link_to "Productos", products_path if authenticated? %></li>
                          <li><%= link_to "Categorías", categories_path if authenticated? %></li>
                          <li><%= link_to "Reseñas", reviews_path if authenticated? %></li>
                          <li><%= button_to "Log out", session_path, method: :delete if authenticated? %></li>
                          

                        <% else %>
                          <li class="scroll"><%= link_to "Inicio", "#home" %></li>
                          <li class="scroll"><%= link_to "¿Cómo funciona?", "#works" %></li>
                          <li class="scroll"><a href="#explore">PRODUCTOS</a></li>
                          <li class="scroll"><a href="#blog">RESEÑAS</a></li>
                          <li class="scroll"><a href="#contact">CONTACTO</a></li>
                          <li><%= link_to "Productos", products_path if authenticated? %></li>
                          <li><%= link_to "Categorías", categories_path if authenticated? %></li>
                          <li><%= link_to "Reseñas", reviews_path if authenticated? %></li>
                          <li><%= button_to "Cerrar Sesión", session_path, method: :delete if authenticated? %></li>
                        <% end %>
                      </ul><!--/.nav -->
                  </div><!-- /.navbar-collapse -->
              </div><!--/.container-->
          </nav><!--/nav-->
          <!-- End Navigation -->
      </div><!--/.header-area-->
        <div class="clearfix"></div>

    </section><!-- /.top-area-->
    <!-- top-area End -->

    <%= link_to cart_path, class: "floating-cart-btn" do %>
      <i class="fa-solid fa-cart-shopping"></i> Ver carrito
    <% end %>

    <%= yield %>
    <!--footer start-->
		<footer id="footer"  class="footer">
			<div class="container">
				<div class="hm-footer-copyright">
					<div class="row">
						<div class="col-sm-5">
							<p style="font-size: 11px;">
								&copy;copyright. <a href="https://www.themesine.com/" style="font-size: 11px;">themesine</a>
							</p><!--/p-->
						</div>
						<div class="col-sm-7">
							<div class="footer-social">
								<span style="font-size: 11px;"><i class="fa fa-phone"> +1  (222) 777 8888</i></span>
								<a href="#"><i class="fa-brands fa-facebook"></i></a>	
								
							</div>
						</div>
					</div>
					
				</div><!--/.hm-footer-copyright-->
			</div><!--/.container-->

			<div id="scroll-Top">
				<div class="return-to-top">
					<i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
				</div>
				
			</div><!--/.scroll-Top-->
			
    </footer><!--/.footer-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <!--modernizr.min.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js", defer: true %>
  </body>
</html>
