<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Ocw Aviation" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- top-area Start -->
    <section class="top-area">
      <div class="header-area">
        <!-- Start Navigation -->
          <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy"  data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

              <div class="container">

                  <!-- Start Header Navigation -->
                  <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                          <i class="fa fa-bars"></i>
                      </button>
                      <a class="navbar-brand" href="index.html">OCW<span>AVIATION</span></a>

                  </div><!--/.navbar-header-->
                  <!-- End Header Navigation -->

                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                      <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                          <li class=" scroll active"><a href="#home">INICIO</a></li>
                          <li class="scroll"><a href="#works">¿QUÉ OFRECEMOS?</a></li>
                          <li class="scroll"><a href="#explore"></a></li>
                          <li class="scroll"><a href="#reviews">PRODUCTOS</a></li>
                          <li class="scroll"><a href="#blog">RESEÑAS</a></li>
                          <li class="scroll"><a href="#contact">CONTACTO</a></li>
                      </ul><!--/.nav -->
                  </div><!-- /.navbar-collapse -->
              </div><!--/.container-->
          </nav><!--/nav-->
          <!-- End Navigation -->
      </div><!--/.header-area-->
        <div class="clearfix"></div>

    </section><!-- /.top-area-->
    <!-- top-area End -->
    <%= yield %>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <!--modernizr.min.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    

  </body>
</html>
